In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Практика/Udemy_Lifestyle.csv')

In [3]:
data

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,num_published_lectures,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string
0,793796,Microsoft Excel - Excel from Beginner to Advanced,/course/microsoft-excel-2013-from-beginner-to-...,True,555082,4.60192,4.60676,4.60676,172869,False,211,0,2016-03-15T16:43:36Z,2016-03-16T21:31:03Z,490.0,INR,₹490,8640.0,INR,"₹8,640"
1,516446,Microsoft Excel - Advanced Excel Formulas & Fu...,/course/excel-for-analysts/,True,181544,4.65408,4.65580,4.65580,38008,False,105,0,2015-05-31T23:33:41Z,2015-08-21T23:27:54Z,490.0,INR,₹490,8640.0,INR,"₹8,640"
2,1506888,Unlock Excel VBA and Excel Macros,/course/excel-vba-and-macros-course/,True,97189,4.63059,4.62752,4.62752,22737,False,172,0,2018-01-12T13:27:57Z,2018-04-17T01:38:28Z,490.0,INR,₹490,8640.0,INR,"₹8,640"
3,977438,Microsoft Excel - Data Analysis with Excel Piv...,/course/data-analysis-with-excel-pivot-tables/,True,112173,4.61015,4.59913,4.59913,21309,False,90,0,2016-10-06T12:30:18Z,2017-01-05T16:30:08Z,490.0,INR,₹490,8640.0,INR,"₹8,640"
4,948866,Excel Essentials: The Complete Excel Series - ...,/course/excel-essentials-the-complete-series-l...,True,72083,4.56456,4.54664,4.54664,18061,False,340,0,2016-09-03T07:16:21Z,2016-09-11T20:13:26Z,490.0,INR,₹490,8640.0,INR,"₹8,640"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39684,3445012,Come Creare il Cartamodello per alcuni capi d'...,/course/come-creare-il-cartamodello-per-alcuni...,False,42,0.00000,0.00000,0.00000,0,False,5,0,2020-08-24T13:12:37Z,2020-08-28T13:29:44Z,NaN,NaN,NaN,NaN,NaN,NaN
39685,2053885,Первые принципы христианства,/course/bibletalks/,False,117,0.00000,0.00000,0.00000,0,False,5,0,2018-11-28T06:11:00Z,2019-07-12T00:00:59Z,NaN,NaN,NaN,NaN,NaN,NaN
39686,3451474,Come Creare le Varianti di un Abito a Tubino 2...,/course/come-creare-le-varianti-di-un-abito-a-...,False,33,0.00000,0.00000,0.00000,0,False,6,0,2020-08-26T16:59:43Z,2020-08-28T13:23:01Z,NaN,NaN,NaN,NaN,NaN,NaN
39687,2070127,Come Creare il Cartamodello per Pantaloni da D...,/course/come-creare-il-cartamodello-per-pantal...,False,34,0.00000,0.00000,0.00000,0,False,5,0,2018-12-05T22:11:38Z,2020-08-26T12:36:44Z,NaN,NaN,NaN,NaN,NaN,NaN
39688,3548450,Geburtstagsparty ohne Stress zu Hause vorbereiten,/course/geburtstagsparty-ohne-stress/,False,28,0.00000,0.00000,0.00000,0,False,13,0,2020-10-05T15:45:25Z,2020-10-06T20:06:56Z,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rows, cols = data.shape

In [5]:
data.shape

(39689, 20)

In [6]:
data.columns

Index(['id', 'title', 'url', 'is_paid', 'num_subscribers', 'avg_rating',
       'avg_rating_recent', 'rating', 'num_reviews', 'is_wishlisted',
       'num_published_lectures', 'num_published_practice_tests', 'created',
       'published_time', 'discount_price__amount', 'discount_price__currency',
       'discount_price__price_string', 'price_detail__amount',
       'price_detail__currency', 'price_detail__price_string'],
      dtype='object')

In [7]:
data.sort_values(['price_detail__price_string', 'rating'], ascending=(True, False)).head()['title']
#Найдешевші курси з найвищим рейтингом

1710                       ASANA 2020 - Basic to advanced
2055    Complete Guide To New Google Sites - Build You...
2060    Excel MIS Analytics (Advance Vlookup Match & I...
2081               Excel in Microsoft Excel 2013: Part II
2083    Connect XL & Outlook -Access VBA & Collection ...
Name: title, dtype: object

In [8]:
data['trust_score'] = data['num_reviews'] / data['rating']
data.head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,...,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string,trust_score
0,793796,Microsoft Excel - Excel from Beginner to Advanced,/course/microsoft-excel-2013-from-beginner-to-...,True,555082,4.60192,4.60676,4.60676,172869,False,...,0,2016-03-15T16:43:36Z,2016-03-16T21:31:03Z,490.0,INR,₹490,8640.0,INR,"₹8,640",37525.071851
1,516446,Microsoft Excel - Advanced Excel Formulas & Fu...,/course/excel-for-analysts/,True,181544,4.65408,4.65580,4.65580,38008,False,...,0,2015-05-31T23:33:41Z,2015-08-21T23:27:54Z,490.0,INR,₹490,8640.0,INR,"₹8,640",8163.580910
2,1506888,Unlock Excel VBA and Excel Macros,/course/excel-vba-and-macros-course/,True,97189,4.63059,4.62752,4.62752,22737,False,...,0,2018-01-12T13:27:57Z,2018-04-17T01:38:28Z,490.0,INR,₹490,8640.0,INR,"₹8,640",4913.430952
3,977438,Microsoft Excel - Data Analysis with Excel Piv...,/course/data-analysis-with-excel-pivot-tables/,True,112173,4.61015,4.59913,4.59913,21309,False,...,0,2016-10-06T12:30:18Z,2017-01-05T16:30:08Z,490.0,INR,₹490,8640.0,INR,"₹8,640",4633.267596
4,948866,Excel Essentials: The Complete Excel Series - ...,/course/excel-essentials-the-complete-series-l...,True,72083,4.56456,4.54664,4.54664,18061,False,...,0,2016-09-03T07:16:21Z,2016-09-11T20:13:26Z,490.0,INR,₹490,8640.0,INR,"₹8,640",3972.384002

In [9]:
data.sort_values(['price_detail__price_string', 'trust_score'], ascending=(True, False)).head()
#Найдешевші курси з найвищим рейтингом

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,...,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string,trust_score
4742,38266,The Secrets of Body Language,/course/the-secrets-of-body-language-webinar/,True,55608,4.42458,4.40152,4.40152,15952,False,...,0,2013-01-25T20:34:07Z,2013-05-09T16:30:03Z,490.0,INR,₹490,1280.0,INR,"₹1,280",3624.202548
13691,1081714,Drawing and Painting on the iPad with Procreate,/course/drawing-and-painting-on-the-ipad-with-...,True,41314,4.66736,4.66596,4.66596,11100,False,...,0,2017-01-18T22:52:56Z,2017-02-26T16:07:49Z,490.0,INR,₹490,1280.0,INR,"₹1,280",2378.931667
4750,1436164,Customer Service: Soft Skills Fundamentals,/course/customer-service-soft-skills-fundament...,True,22723,4.40520,4.39209,4.39209,8260,False,...,0,2017-11-17T00:00:43Z,2017-12-07T23:36:12Z,490.0,INR,₹490,1280.0,INR,"₹1,280",1880.653630
32456,1768990,Counter-Strike: Global Offensive — Play Like a...,/course/counter-strike-global-offensive-play-l...,True,12138,4.57983,4.58589,4.58589,6153,False,...,0,2018-06-26T22:33:06Z,2018-08-17T21:44:40Z,NaN,NaN,NaN,1280.0,INR,"₹1,280",1341.724289
4762,1116388,How to Build Confidence in Your Abilities,/course/how-to-build-confidence-in-your-abilit...,True,46254,4.39791,4.38966,4.38966,5853,False,...,0,2017-02-16T07:59:52Z,2017-02-27T16:42:22Z,490.0,INR,₹490,1280.0,INR,"₹1,280",1333.360670

In [10]:
data.sort_values(['rating', 'num_subscribers'], ascending=(False,False)).head()
#Курси з найвищим рейтингом і найбільшою кількістю підписників

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,...,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string,trust_score
14907,1184318,After Effects CC: Animating Text Titles For Be...,/course/aftereffects-lower-thirds-titles/,True,12768,5.0,5.0,5.0,101,False,...,0,2017-04-18T01:49:25Z,2017-04-19T16:05:03Z,490.0,INR,₹490,4800.0,INR,"₹4,800",20.2
13877,381524,UI Design with Photoshop from Beginner to Expe...,/course/learn-photoshop-for-ui-design-from-scr...,True,8219,5.0,5.0,5.0,960,False,...,0,2014-12-31T09:32:55Z,2015-11-01T19:47:01Z,490.0,INR,₹490,8640.0,INR,"₹8,640",192.0
13506,3581955,Gain Love Relationship Skills Life Coaching Co...,/course/get-a-relationship-life-coaching-love-...,True,3884,5.0,5.0,5.0,1,False,...,0,2020-10-20T17:40:16Z,2020-10-24T17:24:44Z,490.0,INR,₹490,8640.0,INR,"₹8,640",0.2
26993,3150376,Space Render 2.0: Transform your podcast into ...,/course/space-render-20-transform-your-podcast...,True,3738,5.0,5.0,5.0,3,False,...,0,2020-05-20T14:48:51Z,2020-09-05T18:32:39Z,490.0,INR,₹490,1280.0,INR,"₹1,280",0.6
27416,3278788,UDEMY: Make Money Online. Unofficial,/course/start-selling-on-udemy-in-2-hours/,True,3251,5.0,5.0,5.0,1,False,...,0,2020-06-28T18:19:36Z,2020-07-01T15:13:09Z,490.0,INR,₹490,1280.0,INR,"₹1,280",0.2

In [11]:
data[data.num_subscribers >= 2500].sort_values(['price_detail__price_string', 'rating'], ascending=(True, False)).head()
#найдешевші курси з найвищим рейтингом, де не менше 2500 підписників

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,...,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string,trust_score
26993,3150376,Space Render 2.0: Transform your podcast into ...,/course/space-render-20-transform-your-podcast...,True,3738,5.00,5.00000,5.00000,3,False,...,0,2020-05-20T14:48:51Z,2020-09-05T18:32:39Z,490.0,INR,₹490,1280.0,INR,"₹1,280",0.600000
27416,3278788,UDEMY: Make Money Online. Unofficial,/course/start-selling-on-udemy-in-2-hours/,True,3251,5.00,5.00000,5.00000,1,False,...,0,2020-06-28T18:19:36Z,2020-07-01T15:13:09Z,490.0,INR,₹490,1280.0,INR,"₹1,280",0.200000
14985,798274,Animation in Photoshop: Create an Amazing Moti...,/course/animate-via-photoshop-create-an-amazin...,True,3812,4.95,4.98698,4.98698,92,False,...,0,2016-03-19T21:21:16Z,2016-03-26T05:51:27Z,490.0,INR,₹490,1280.0,INR,"₹1,280",18.448039
7740,343196,Wedding Speech: You Can Give a Fantastic Weddi...,/course/how-to-give-a-wedding-speech/,True,8452,4.90,4.98517,4.98517,19,False,...,0,2014-11-13T12:42:16Z,2014-11-13T14:09:18Z,490.0,INR,₹490,1280.0,INR,"₹1,280",3.811304
3057,2222644,Microsoft Excel: En Sık Kullanılan 40 Formül U...,/course/microsoft-excel-en-sk-kullanlan-40-for...,True,5348,4.90,4.92212,4.92212,207,False,...,0,2019-02-16T06:34:05Z,2019-02-17T11:04:30Z,490.0,INR,₹490,1280.0,INR,"₹1,280",42.055049

In [12]:
data.sort_values('price_detail__price_string', ascending=False).head()

,id,title,url,is_paid,num_subscribers,avg_rating,avg_rating_recent,rating,num_reviews,is_wishlisted,...,num_published_practice_tests,created,published_time,discount_price__amount,discount_price__currency,discount_price__price_string,price_detail__amount,price_detail__currency,price_detail__price_string,trust_score
7098,163706,Productivity and Time Management Techniques & ...,/course/productivity-time-management-technique...,True,154,4.00000,3.93401,3.93401,29,False,...,0,2014-02-13T17:28:44Z,2014-04-05T08:09:14Z,NaN,NaN,NaN,9920.0,INR,"₹9,920",7.371613
38327,3260312,Viver de Café - Curso Básico de Barista,/course/viver-de-cafe-curso-basico-de-barista-...,True,24,5.00000,5.00000,5.00000,9,False,...,0,2020-06-22T16:28:11Z,2020-07-03T02:04:14Z,NaN,NaN,NaN,9920.0,INR,"₹9,920",1.800000
13775,396204,Graphic Design Masterclass: Learn Graphic Desi...,/course/graphic-design/,True,18866,4.40230,4.37111,4.37111,1991,False,...,0,2015-01-17T00:54:29Z,2015-11-09T21:17:04Z,574.0,INR,₹574,9920.0,INR,"₹9,920",455.490711
38466,2399312,幻顏電眼-進階彩妝課,/course/tomokoadvancedmakeup/,True,113,3.66667,3.63075,3.63075,6,False,...,0,2019-06-05T03:47:06Z,2019-06-10T18:41:11Z,NaN,NaN,NaN,9920.0,INR,"₹9,920",1.652551
26088,1872728,Expert DIY Pardot Implementation & Training Co...,/course/pardot-implementation-course/,True,26,4.60000,4.57723,4.57723,11,False,...,0,2018-08-23T13:19:26Z,2018-08-23T16:26:09Z,NaN,NaN,NaN,9920.0,INR,"₹9,920",2.403200